<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% if page.url != '/index.html' %}{{ page.title }} - {% endif %}Slim Twig-View</title>
    <meta name="description" content="{{ page.description|strip_html }}"/>
    <meta name="robots" content="index, follow"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="og:type" content="website"/>
    <link rel="stylesheet" href="/assets/styles/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Twig-View</a>
</nav>
