$baseline: 24px;

$primary: #719E40;
$primary-light-grey: #333540;
$primary-grey: #282A36;

$link-decoration: none;
$link-hover-decoration: none;

$navbar-padding-y: .75rem;

$navbar-brand-font-size: 1.5rem;
$navbar-dark-brand-color: $primary;
$navbar-dark-brand-hover-color: $primary;

